<footer class="main-footer">
    <div class="container">
        <a href="/index.html">
            <img src="/img/logo3.png" alt="MontaTech Brasil - Montagem de Móveis" class="footer-logo" width="270" height="60">
        </a>
        <p class="slogan"><strong>Inteligencia de Projetos & Excelência na Montagem</strong></p>
        <div class="contatos">
            <p><strong>Atendemos em:</strong> Valparaíso de Goiás, Jardim Ingá, Luziânia, Ocidental, Novo Gama, Gama, Céu Azul e Santa Maria DF</p>
            <p><strong>Contato/WhatsApp:</strong> <a href="https://wa.me/5561998865417">(61) 9 9886-5417</a></p>
        </div>
        <div class="social-links">
            <a href="https://www.instagram.com/montatechbrasil.montagens/" target="_blank">Instagram</a> |
            <a href="https://www.facebook.com/montatechbrasil.montagens" target="_blank">Facebook</a> |
            <a href="https://www.magazinevoce.com.br/magazinemontatechbrasil/" target="_blank">Loja Magalu</a>
        </div>
        <div class="copyright">
            <p>&copy; 2026 MontaTech Brasil | Todos os Direitos Reservados | montatechbrasil.com.br.</p>
        </div>
    </div>
</footer>
